

<div *ngIf="!monat">
    <div *ngFor="let baumfaellungenPos of stats" class="card mb-5">

        <div class="card-header">
            <small class="text-muted float-right">Insgesamt: {{ baumfaellungenPos.total}}</small>
            <strong>Baumfällungen {{ baumfaellungenPos.jahr }}</strong><br>
        </div>

        <div class="card-body">

            <ngx-charts-bar-vertical
                [results]="baumfaellungenPos.months"
                [animations]="false"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="false"
                [showYAxisLabel]="false"
                [scheme]="colorScheme"
                (select)="monatAuswaehlen($event)">
            </ngx-charts-bar-vertical>

        </div>

    </div>
</div>


<div *ngIf="jahr && monat" class="mb-5">
    <div class="btn-group float-right">
        <button class="btn btn-secondary" (click)="vorigenMonatWaehlen()"><fa-icon icon="arrow-left"></fa-icon></button>
        <button class="btn btn-secondary" (click)="naechstenMonatWaehlen()"><fa-icon icon="arrow-right"></fa-icon></button>
    </div>

    <h3>Baumfällungen im {{ jahr+'-'+(''+monat).padStart(2, '0')+'-01' | amDateFormat: 'MMMM YYYY' }}</h3>

    <small class="text-muted">Bäume insgesamt: {{ anzahlFaellungen }}</small>

    <div class="list-group mt-3">

        <div *ngFor="let faellung of faellungen" class="list-group-item">

            <a [href]="'https://www.magdeburg.de' + faellung.url" target="_blank" class="btn btn-primary btn-sm float-right">Info-Dokument</a>
            <span>{{ faellung.title }}</span> <span *ngIf="faellung.numberOfTrees > 1" class="text-muted">({{ faellung.numberOfTrees }} Bäume)</span><br>
            <small class="text-muted">Eingestellt am {{ faellung.addedDate | amDateFormat: 'DD.MM.YYYY' }}</small><br>

        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <small class="text-muted">Alle Angaben sind ohne Gewähr. Die Baumfällungen werden regelmäßig vom Eigenbetrieb Stadtgarten und Friedhöfe Magdeburg auf der Homepage der Stadt veröffentlicht. <a href="http://www.magdeburg.de/index.php?object=tx%7c698.85.1&ModID=10&FID=698.186.1">Mehr Informationen</a></small>
    </div>
</div>
