
<nav class="navbar">
  <div class="container-fluid">
    <a routerLink="/home">Zur Hauptseite</a>
  </div>
</nav>

<div class="container">

  <p>
    <strong>Angaben gemäß § 5 TMG</strong>
  </p>

  <p>
    Jens Winter-Hübenthal<br>
    c/o COCENTER<br>
    Koppoldstr. 1<br>
    86551 Aichach
  </p>

  <p>
    <strong>Kontakt:</strong><br>
    E-Mail: <a href="mailto:baumfreundemd@gmail.com">baumfreundemd&#64;gmail.com</a>
  </p>

  <p>
    <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
    Jens Winter-Hübenthal<br>
    c/o COCENTER<br>
    Koppoldstr. 1<br>
    86551 Aichach
  </p>

  <p>Impressum erstellt mit dem <a href="http://www.impressum-generator.de">Impressum Generator</a> der <a href="http://www.kanzlei-hasselbach.de/rechtsanwalt-sorgerecht-koeln/">Kanzlei Hasselbach, Kanzlei für Sorgerecht in Köln</a></p>

</div>
