
<div class="card">

    <div class="card-header">
        Impressum
    </div>

    <div class="card-body">

        <p>
            <strong>Angaben gemäß § 5 TMG</strong>
        </p>

        <p>
            Jens Winter<br>
            Mühlenstr. 11<br>
            39104 Magdeburg
        </p>

        <p>
            <strong>Kontakt:</strong><br>
            Telefon: 0175/1954758<br>
            E-Mail: <a href="mailto:jens.winter@gmail.com">jens.winter@gmail.com</a>
        </p>

        <p>
            <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
            Jens Winter<br>
            Mühlenstr. 11<br>
            39104 Magdeburg
        </p>

        <p>Impressum erstellt mit dem <a href="http://www.impressum-generator.de">Impressum Generator</a> der <a href="http://www.kanzlei-hasselbach.de/rechtsanwalt-sorgerecht-koeln/">Kanzlei Hasselbach, Kanzlei für Sorgerecht in Köln</a></p>

    </div>

</div>
