<div class="modal-header align-items-start">
  <div>
    <h5 class="modal-title">{{ treeDetails.common }}</h5>
    <h6 class="text-muted mt-1 mb-0">{{ treeDetails.ref }}</h6>
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
</div>

<div class="modal-body">

  <div class="mt-2">
    <span class="small">Gebiet</span><br>
    <div class="fw-bold">{{ treeDetails.address }}</div>
  </div>
  <div class="mt-2">
    <span class="small">Pflanzjahr</span><br>
    <div class="fw-bold">{{ treeDetails.planted ? treeDetails.planted : '?' }}</div>
  </div>
  <div class="mt-2">
    <span class="small">Baumhöhe</span><br>
    <div *ngIf="treeDetails.height" class="fw-bold">{{ treeDetails.height | number: '0.2':'de' }}m</div>
    <div *ngIf="!treeDetails.height" class="fw-bold">?</div>
  </div>
  <div class="mt-2">
    <span class="small">Kronendurchmesser</span><br>
    <div *ngIf="treeDetails.crown" class="fw-bold">{{ treeDetails.crown | number: '0.2':'de' }}m</div>
    <div *ngIf="!treeDetails.crown" class="fw-bold">?</div>
  </div>
  <div class="mt-2">
    <span class="small">Stammumfang</span><br>
    <div class="fw-bold">{{ treeDetails.dbh }}cm</div>
  </div>
  <div class="mt-2">
    <span class="small">Wissenschaftlicher Name</span><br>
    <div class="fw-bold">{{ treeDetails.scientific }}</div>
  </div>

  <div *ngIf="treeDetails.wikipediaPageUrl" class="mt-2">
    <a [href]="treeDetails.wikipediaPageUrl" target="_blank">Zur Wikipedia-Seite</a>
  </div>

</div>

<div class="modal-footer justify-content-start">
  <span class="small text-muted d-block">Datenquelle: Landeshauptstadt Magdeburg – www.magdeburg.de</span>
  <span class="small text-muted d-block">Alle Angaben sind ohne Gewähr</span>
</div>
