<div class="modal-header align-items-start">
  <h5 class="modal-title">Filter-Einstellungen</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
</div>

<div class="modal-body">

  <label for="genusSelect" class="form-label">Gattungen</label>
  <select class="form-select" id="genusSelect" [(ngModel)]="selectedGenus">
    <option value="">Alle</option>
    <option *ngFor="let genus of genera" [value]="genus.genus">{{ genus.displayNamePlural }}</option>
  </select>

  <div class="mt-3">
    <label for="minHeightInput" class="form-label">Baumhöhe größer als <strong>{{ minHeight }}m</strong></label>
    <input type="range" class="form-range" min="0" max="100" id="minHeightInput" [(ngModel)]="minHeight">
  </div>

  <div class="mt-3">
    <label for="minCrownInput" class="form-label">Kronendurchmesser größer als <strong>{{ minCrown }}m</strong></label>
    <input type="range" class="form-range" min="0" max="50" id="minCrownInput" [(ngModel)]="minCrown">
  </div>

  <div class="mt-3">
    <label for="minDbhInput" class="form-label">Stammumfang größer als <strong>{{ minDbh }}cm</strong></label>
    <input type="range" class="form-range" min="0" max="1400" id="minDbhInput" [(ngModel)]="minDbh">
  </div>

  <div class="mt-3">
    <label for="minAgeInput" class="form-label">Älter als <strong>{{ minAge }} Jahre</strong></label>
    <input type="range" class="form-range" min="0" max="500" id="minAgeInput" [(ngModel)]="minAge">
  </div>

  <div class="form-check form-switch mt-3">
    <input class="form-check-input" type="checkbox" id="showOnlyFelledTreesSwitch" [(ngModel)]="onlyFelledTrees">
    <label class="form-check-label" for="showOnlyFelledTreesSwitch">Nur gefällte Bäume anzeigen</label>
  </div>

  <div class="mt-3">
    <button class="btn btn-link btn-sm" (click)="resetFilter()">Alle Filter zurücksetzen</button>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn" (click)="modalRef.hide()">Abbrechen</button>
  <button type="submit" class="btn btn-primary" (click)="submit()">Übernehmen</button>
</div>
