<section>
    <h1 class="mb-3">Magdeburgs besondere Bäume</h1>

    <div class="card text-whitex bg-light mb-3">
        <div class="card-body">
            Im Oktober 2019 hat die <a href="https://www.magdeburg.de" target="_blank">Stadt Magdeburg</a> das
            Baumkataster auf der städtischen Homepage veröffentlicht. Mit Hilfe der Daten haben wir nach dem <em>typischen
            Magdeburg Baum</em> gesucht. Hier ist das Ergebnis.
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="/assets/images/baeume/strassenbaum01-sm.jpg">
                <div class="card-body">
                    <h5 class="card-title">Straßenbaum 2019</h5>
                    <h6 class="card-subtitle text-muted">Winterlinde (Tilia cordata)</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weizengrund</li>
                    <li class="list-group-item">Baumhöhe: 9 m</li>
                    <li class="list-group-item">Kronendurchmesser: 5,50 m</li>
                    <li class="list-group-item">Stammumfang: 90 cm</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="/assets/images/baeume/parkbaum01-sm.jpg">
                <div class="card-body">
                    <h5 class="card-title">Parkbaum 2019</h5>
                    <h6 class="card-subtitle text-muted">Spitz-Ahorn (Acer platanoides)</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Apollostraße</li>
                    <li class="list-group-item">Baumhöhe: 14 m</li>
                    <li class="list-group-item">Kronendurchmesser: 7 m</li>
                    <li class="list-group-item">Stammumfang: 126 cm</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="/assets/images/baeume/stadtbaum01-sm.jpg">
                <div class="card-body">
                    <h5 class="card-title">Stadtbaum 2019</h5>
                    <h6 class="card-subtitle text-muted">Winterlinde (Tilia cordata)</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Turmschanzenstraße</li>
                    <li class="list-group-item">Baumhöhe: 12 m</li>
                    <li class="list-group-item">Kronendurchmesser: 7 m</li>
                    <li class="list-group-item">Stammumfang: 112 cm</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="card text-whitex bg-light mb-3">
        <div class="card-body">
            Ein Dankeschön geht an die Stadt und den Eigenbetrieb Stadtgarten und Friedhöfe Magdeburg für die <a href="https://www.magdeburg.de/Start/B%C3%BCrger-Stadt/Verwaltung-Service/Offene-Verwaltungsdaten">Bereitstellung der Daten</a>. Außerdem vielen Dank für die Projektidee <a href="http://tursics.de/story/grossstadt-baum/">"Großstadt-Baum"</a> an Thomas Tursics.
        </div>
    </div>

</section>

<section>
    <div class="row py-5">
        <div class="col-md-3 my-auto py-3">
            <a href="https://codefor.de/magdeburg" target="_blank"><img class="img-fluid" src="/assets/images/logos/CodeForMagdeburg.png"></a>
        </div>
        <div class="col-md-3 my-auto py-3">
            <a href="https://gruenstreifen-ev.de" target="_blank"><img class="img-fluid" src="/assets/images/logos/Gruenstreifen.png"></a>
        </div>
        <div class="col-md-3 my-auto py-3">
            <a href="https://magdeburg2025.de" target="_blank"><img class="img-fluid" src="/assets/images/logos/Machen2025.png"></a>
        </div>
        <div class="col-md-3 my-auto py-3">
            <a href="https://netz39.de" target="_blank"><img class="img-fluid" src="/assets/images/logos/Netz39.png "></a>
        </div>
    </div>
</section>

<!--
<div class="card mb-5">

    <div class="card-header">
        <strong>{{ faellungenGesamt }} Baumfällungen - {{ nachpflanzungenGesamt }} Nachpflanzungen</strong><br>
    </div>

    <div class="card-body">

        <div *ngIf="isLoading" class="fa-3x text-center">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true" class="text-muted"></fa-icon>
        </div>

        <ngx-charts-bar-vertical-2d *ngIf="!isLoading"
            [results]="stats"
            [animations]="false"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [scheme]="colorScheme"
            [legend]="true" legendTitle=""
            (select)="jahrAuswaehlen($event)">
        </ngx-charts-bar-vertical-2d>

    </div>

</div>
-->

<!--
<div class="card">
    <div class="card-body">
        <small class="text-muted">Alle Angaben sind ohne Gewähr. Die Baumfällungen und Nachpflanzungen werden regelmäßig vom Eigenbetrieb Stadtgarten und Friedhöfe Magdeburg auf der Homepage der Stadt veröffentlicht. <a href="http://www.magdeburg.de/index.php?object=tx%7c698.85.1&ModID=10&FID=698.186.1">Mehr Informationen</a></small>
    </div>
</div>
-->
